<li id="leaderboard" class="page" data-title="Leaderboard">
    <div class="page-inner">


        <div id="map-container"></div>
        <div id="map-details">
            <h2>Top Reviews</h2>

            <p>De Beste Reviews van dit jaar</p>


        </div>
        <ul class="home-reviews reviews">
            <li class="home-review review" data-view="review-detail" data-review-id="1">


                <div class="review-inner" style="width: 100%; margin-left: 0">
                    <img src="img/Bunker.jpg" style="height: 75px; width: 140px; border-radius: 10px;float:left;"/>

                    <div class="leaderboards-grid">

                        <h2>Führer Bunker</h2>
                        <h3>Berlijn</h3>
                        <p>Aantal keer bekeken: <span style="font-weight: bold">1923</span></p>

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>

                        <div class="clear"></div>
                        <button id="audio-tour-btn" class="home btn btn-white fa fa-headphones"><span>Audiotour</span>
                        </button>
                    </div>
                </div>
            </li>
            <li class="home-review review" data-view="review-detail" data-review-id="1">


                <div class="review-inner" style="width: 100%; margin-left: 0">
                    <img src="img/manneken_pis.jpg" style="height: 75px; width: 140px; border-radius: 10px;float:left;"/>

                    <div class="leaderboards-grid">

                        <h2>Manneken Pis</h2>
                        <h3>Brussel</h3>
                        <p>Aantal keer bekeken: <span style="font-weight: bold">1849</span></p>

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>

                        <div class="clear"></div>
                        <button id="audio-tour-btn" class="home btn btn-white fa fa-camera"><span>Videotour</span>
                        </button>
                    </div>
                </div>
            </li>
            <li class="home-review review" data-view="review-detail" data-review-id="1">


                <div class="review-inner" style="width: 100%; margin-left: 0">
                    <img src="img/Wembley.jpeg" style="height: 75px; width: 140px; border-radius: 10px;float:left;"/>

                    <div class="leaderboards-grid">

                        <h2>Wembley Stadium</h2>
                        <h3>Londen</h3>
                        <p>Aantal keer bekeken: <span style="font-weight: bold">1567</span></p>

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>


                        <div class="clear"></div>
                        <button id="audio-tour-btn" class="home btn btn-white fa fa-camera"><span>Videotour</span>
                        </button>
                    </div>
                </div>
            </li>
            <li class="home-review review" data-view="review-detail" data-review-id="1">


                <div class="review-inner" style="width: 100%; margin-left: 0">
                    <img src="img/amnesia.jpg" style="height: 75px; width: 140px; border-radius: 10px;float:left;"/>
                    
                    <div class="leaderboards-grid">

                        <h2>Amnesia Ibiza</h2>
                        <h3>Ibiza</h3>
                        <p>Aantal keer bekeken: <span style="font-weight: bold">1015</span></p>

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>


                        <div class="clear"></div>
                        <button id="audio-tour-btn" class="home btn btn-white fa fa-headphones"><span>Audiotour</span>
                        </button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</li>

