<li id="profile" class="page" data-title="Mijn profiel">
    <div class="page-inner">

		<div id="map-container"></div>
		<div id="map-details">
			<div class="profile-image"></div>
	        <h2 class="clear">Kelly de Jong</h2>
	        <p>Ik woon al 10 jaar in Rotterdam en vind het één van de mooiste steden in de wereld.</p>
	    </div>
		
		<h3 style="margin: 10px 12px;">Review's van Kelly</h3>

		<ul class="home-reviews reviews">
            <li class="home-review review" data-view="review-detail" data-review-id="1">
                <img src="img/person_1.jpg"/>
                <div class="review-inner">
                    <h2>Encore Bar Grill</h2>
                    <p>Leuk klein restaurant. Vlees/vis van de grill of een lekkere burger!</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li class="home-review review" data-view="review-detail" data-review-id="2">
                <img src="img/person_1.jpg"/>
                <div class="review-inner">
                    <h2>Twenty-five</h2>
                    <p>Kleine kledingzaak net buiten de Koopgoot waar je heerlijk kunt shoppen.</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <i class="fa fa-chevron-right"></i>
            </li>
        </ul>

	</div>
</li>