<li id="profile" class="page" data-title="Review">
	
	<div id="map-container"></div>

	<div id="map-details">
        <h2>Rotterdam, Nederland</h2>
    </div>

	<div class="rating-bar">
		<div class="rating fa fa-star"></div>
		<span>48 mensen vonden dit een goede aanbeveling</span>
	</div>

    <div id="review-detail">    
		<h2 class="title">Review title</h2>

		<p class="description">Review description</p>
    </div>

    <ul id="comments">
    	<li class="comment" data-user-id="1" data-view="profile">
    		<img class="user" src="" alt="">
    		<div class="comment-inner">
    			<h3>Comment title</h3>
    			<p>Comment body</p>
    		</div>
    	</li>
    	<li class="comment" data-user-id="2" data-view="profile">
    		<img class="user" src="" alt="">
    		<div class="comment-inner">
    			<h3>Comment title</h3>
    			<p>Comment body</p>
    		</div>
    	</li>
    	<li class="comment" data-user-id="3" data-view="profile">
    		<img class="user" src="" alt="">
    		<div class="comment-inner">
    			<h3>Comment title</h3>
    			<p>Comment body</p>
    		</div>
    	</li>
    </ul>
    <button id="more-comments" class="btn btn-blue">Meer reacties</button>
</li>