<li id="profile" class="page" data-title="Review">

    <div class="page-inner">
	
    	<div id="map-container">
            <ul class="locations-slide">
               <li style="background-image: url('img/location_1.jpg');"></li>
               <li style="background-image: url('img/location_2.jpg');"></li>
           </ul>   
        </div>

    	<div id="map-details">
            <h2>Rotterdam, Nederland</h2>
        </div>

        <div id="rate-review">
            <p>Geef deze review een rating</p>
            <div>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>

    	<div class="rating-bar">
            <div id="rate-review-btn" class="rating fa fa-star"><span>4</span></div>
    		<div id="like-review-btn" class="fa fa-heart"></div>
    		<!-- <span style="font-size: 10px;">48 mensen vonden dit een goede aanbeveling</span> -->
    	</div>

        <div id="review-detail">    
    		<h2 class="title">THOMS</h2>

    		<p class="description">Bij THOMS Restaurant & Underground Bar in Rotterdam eet je heerlijke no-nonsense gerechten.</p>
        </div>

        <ul id="comments">
        	<li class="comment">
        		<img class="user" src="img/person_1.jpg" alt="">
        		<div class="comment-inner">
        			<h3>Jij</h3>
        			<p><input placeholder="Wat vind jij van deze aanbeveling?" type="text"><button class="btn btn-blue">plaatsen</button></p>
        		</div>
        	</li>
        	<li class="comment" data-user-id="2" data-view="profile">
        		<img class="user" src="img/person_2.jpg" alt="">
        		<div class="comment-inner">
        			<h3>Marianne Vos</h3>
        			<p>Heerlijk gegeten, bedankt voor de tip!</p>
        		</div>
        	</li>
        	<li class="comment" data-user-id="3" data-view="profile">
        		<img class="user" src="img/person_3.jpg" alt="">
        		<div class="comment-inner">
        			<h3>Emma Quinn</h3>
        			<p>De volgende keer als ik in Rotterdam ben kom ik hier zeker terug.</p>
        		</div>
        	</li>
        </ul>
        <button id="more-comments" class="btn btn-blue">Meer reacties</button>
    
    </div>
</li>